* {margin:0;padding:0;}

a {color:#303030;text-decoration:none;}
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

body {position:relative;}

header, section, footer {width:100%;z-index:0;}.wrap {width:640px;margin:0 auto;background:#1ad2f4;}

/*header*/

#header {position:relative;height:120px;background-color:#4d82ad;}

#logo {float:left;width:330px;height:60px;line-height:60px;padding:30px 24px;font-size:36px;color:#fff;}

#nav {position:absolute;right:24px;top:29px;text-align: center;}
#nav li {display:block;float:left;font-size:20px;margin:16px 16px;}
#nav li a{color: #fff;}

/*figure*/
.figure {height:91px;padding:138px 0 44px;text-align: center;}.figure img {margin:0 auto;vertical-align: middle;}
.netName{font-size:52px;color: #fff;margin-left:20px;vertical-align: middle;}
.name {height:200px;font-size:40px;text-align:center;color:#fff;}
.name a{color: #fff;text-decoration: underline;}

.down {height:367px;}

.down a {display:block;width:306px;height:90px;margin:0 auto 42px;border:3px solid #fff;border-radius:48px;text-indent:-9999px;}

/*product*/
.product{height: 644px;}
.product .imgs{margin: 0 auto;}
.product .fTit{margin-left: 50px;line-height:100px;font-size: 30px;color: #000;}
.product .imgs>div{width:240px;height: 140px;text-align: center;padding-top:12px ;margin-bottom: 24px;	float: left;}
.product .imgs>div:nth-child(even){margin-left: 60px;}
.product .imgs>div:nth-child(odd){margin-left: 50px;}
.product .imgs .proInfo{font-size: 24px;color: #fff;}
.product .products{float: right;margin-right:50px;font-size: 24px;}
.product .products a{color: #fff;}

/*proBann*/
#proBann .grid{padding: 40px 0 0 24px;color: #fff;}

/*aboutBann*/
#aboutBann{background: url(../img/banner-about.png) no-repeat; background-size: cover;height: 200px;text-align: center;color: #fff;}
#aboutBann .ty{padding-top:60px;}
#aboutBann .mb{font-size: 20px;}

/*intro*/
#intro{background:url(../img/gywm.png) top no-repeat;height: 374px;margin-top:30px;background-size: cover;text-align: center;color: #fff;}
#intro .grid{position: relative;top:90px;}
#intro .com{font-size: 20px;}
#intro .introduce{font-size:14px;}

/*vision*/
#vision{background:url(../img/tp.png) top no-repeat;background-size:cover;height: 282px;margin-top:50px ;}
#vision .target{float: right;position: relative;right: 40px;}
#vision .grid{position: relative;top: 20px;margin-left: 24px;} 
#vision .grid .sp,.appm{font-size: 14px;color: #333333;}
#vision .grid .appm{margin-left: 208px;}
#vision .grid .expect{font-size: 14px;color: #666;margin-top:10px;line-height: 20px;}
#vision .grid .expect .lineh{display:block;}

/*core*/
#core{background: url(../img/tp-2.png) top no-repeat;background-size:cover;height: 212px;text-align: center;margin-top:50px;}
#core .val{font-size: 20px;color: #333;position: relative;top:-30px;}
#core .en_val{font-size: 20px;color: #999;position: relative;top:-30px;}
#core .grid .core_text{font-size:14pxx;color: #333;line-height: 20px;}
#core .grid .core_text .texts{font-size: 18px;color: #333;}

/*about_address*/
#about_address{background:url(../img/gsdz.png) top no-repeat;background-size:cover;height:318px;}
#about_address .company_address{text-align: center;}
#about_address .company_address .address,.download{position:relative;top:90px;}
#about_address .company_address .address{font-size: 20px;color: #333;}
#about_address .company_address .download{font-size: 16px;color: #999;}
#about_address .company_address .ph{position:relative;top:158px;color: #fff;text-align: center;}
#about_address .company_address .ph .com_name{font-size:14px;}
#about_address .company_address .ph .com_addr{font-size:12px ;}
#about_address .company_address .ph .com_ph{font-size: 14px;}

/*banner_join*/
#banner_join{background:url(../img/banner.png) no-repeat;background-size:cover;height:200px;}
#banner_join .grid{padding: 40px 0 0 24px;color: #fff;}
#banner_join img{position: relative;left: 350px;bottom: 104px;}

/*join_introduct*/
#join_introduct {background:url(../img/jrwm-bg.png) top no-repeat;background-size:cover;height:462px;text-align: center;}
#join_introduct .prosime{padding-top:26px;font-size: 26px;color: #333;}
#join_introduct .our{font-size: 20px;color: #999;}
#join_introduct .bann{margin-top:100px;margin-bottom:10px;font-size:20px;}
#join_introduct .introduce{font-size: 20px;color: #566;line-height: 26px;}

/*join_position*/
#join_position .grid{margin:0 24px;}

/*join_position*/
#join_position .prosime,.our{text-align: center;}
#join_position .prosime{color: #000;}
#join_position .our{color: #999;padding-bottom: 40px;}
#join_position .job_left{background: #fff;border-radius: 10px;margin-bottom:50px ;position: relative;left: 22px;width:570px;font-size: 20px;height: 100%;}
#join_position .job_left .job_img{position: relative;right:22px;margin-top:32px;float: left;}
#join_position .job_left .duty_text,.requirement,.duty_requirement{padding:12px;}
#join_position .job_left .manager{color: #333;position: relative;top:20px;}
#join_position .job_left .duty{color: #666;margin-top: 30px;}
#join_position .job_left .requirement{color: #666;}
#join_position .job_left .join_btn{width:150px;height:32px;display:table-cell;float: right;position:relative;top:40px;right:28px;}

#join_position .job_right{background: #fff;border-radius: 10px;margin-bottom:50px ;width:576px;font-size: 20px;height: 100%;}
#join_position .job_right .job_img{position: relative;left:16px;margin-top:32px;float: right;}
#join_position .job_right .duty_text,.requirement,.duty_requirement{padding:12px;}
#join_position .job_right .manager{font-size: 22px;color: #333;position: relative;top:20px;padding: 0 8px;}
#join_position .job_right .duty{color: #666;margin-top: 30px;padding: 0 8px;}
#join_position .job_right .requirement{color: #666;}
#join_position .job_right .join_btn{width:150px;height:32px;display:table-cell;float: right;position:relative;top:50px;right:28px;}


/*footer*/
#footer{text-align: center;color: #fff;background-color:#4d82ad;}
#footer>div{padding: 20px 12px;font-size:0.5rem;}
